<footer class="footer mt-auto">
  <div class="f-info border-top">
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.instagram.com/justmeprem/?hl=en"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/aniruddhaguchait/"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="f-info-brand text-dark fw-medium">
      © <%= new Date().getFullYear() %> EduSync — Collaborate, Create, Innovate.
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a> ·
      <a href="/terms">Terms</a> ·
      <a href="/company-details">Company</a>
    </div>
  </div>
</footer>
